body {
  background-color: #FBF2F1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

header {
  background-color: #fec5bb;
  height: 200px;
  text-align: center;
}

nav {
  background-color: #fec5bb;
  height: 40px;
}
main {
  background-color: #f8edeb;
  height: 400px;
  text-align: center;
}
footer {
  background-color: rgb(168, 12, 182);
  height: 100px;
}
h1{
  font-size: 60px;
  color: azure;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
  font-size: 20px;
  color:  azure;
}
p {
  font-size: 14px;
  color: #476B57;
  font-family: Georgia, 'Times New Roman', Times, serif;
}